@import '../../assets/colors';

.page-menu {
  padding-left: 10px;
  padding-right: 10px;
}

.card-item {
  margin-bottom: 10px;
  margin-top: 10px;

  .description {
    color: $text-gray;
  }

  .price {
    color: $text-green;
  }

  .quantity {
    margin-left: 10px;
    margin-right: 10px;
  }
}
